
@import "src/assets/styles/global.scss";
@import "src/assets/styles/_fonts.scss";
@import "src/assets/styles/_spacing.scss";
@import "src/assets/styles/media-queries.scss";
@import "src/assets/styles/_color_pallete.scss";
@import "src/assets/styles/_common.scss";
@import "src/assets/styles/_layouts.scss";


@mixin FileUploadMainBorder0{
  padding:$spacing7;
  @include WMLFlexColumnCenter;

}
:host {


  &.FileUploadView{
    display: block;
    .FileUpload{
      &Main{
        &Pod{
          @include MainPodCssRule0;

        }

        &Item {
          &0 {
            background-color:var(--wml-tertiary);
            border-radius:100%;
            width:calc(100/16 * 1rem);
            height:calc(100/16 * 1rem);
            @include WMLFlexColumnCenter;
            justify-content:center;
          }
        }

        &Input {
          &0 {
            display: none;
          }
        }

        &Icon {
          &0 {
            font-size: $display-large;
            color: var(var(--wml-primary));
          }
        }

        &Border {
          &0 {
            border:calc(4/16 * 1rem) dotted var(--wml-secondary);
            > *{
              color:var(--wml-white)
            }
            @include FileUploadMainBorder0;


          }
          &1 {
            border:calc(4/16 * 1rem) dotted var(--wml-primary);
            > *{
              color:var(--wml-black)
            }
            @include FileUploadMainBorder0;

          }
        }

        &Btn {
          &0 {
            margin:$spacing4 0 0 0;
          }
        }

        &Title {
          &0 {
            text-align:center;
            color: var(--wml-white);
          }
        }

        &Text {
          &0 {
            color: var(--wml-white);
          }
        }
      }
      &Pod{

        &0{}
      }
    }
  }

}
