requests
flask
pyngrok
gunicorn
gevent
newsapi-python
pyngrok
flask-ngrok
werkzeug
sendgrid
msal
faker
pytz
sqlalchemy
pyodbc
moralis
azure-ad-verify-token


translatepy
pytest
coverage
requests-mock
pytest-watch
pytest-mock

