<div [class]="classPrefix('MainPod')">
  <section [class]="classPrefix('Pod0')">
    <h1 [class]="classPrefix('Pod0Title0')">{{ "HomeMain.title" | translate}}</h1>
    <p>{{"HomeMain.mainDesc" | translate}}</p>
    <div [class]="classPrefix('Pod0Item0')">
      <button-one [params]="viewSampleBtn"></button-one>
      <button-one [params]="freeTrialBtn"></button-one>
    </div>
    <h2 >{{"HomeMain.worksSubtitle" | translate}}</h2>
    <stepper [params]="primaryStepper"></stepper>
    <h2 >{{"HomeMain.freeTrialSubtitle" | translate}}</h2>
    <file-upload [params]="resumeUpload"></file-upload>
    <h2>{{"HomeMain.benefits.title"| translate}}</h2>
  </section>
  <section [class]="classPrefix('Pod1')">
    <sections-one [params]="descSections"></sections-one>
  </section>
  <section [class]="classPrefix('Pod2')">
    <h2>{{"HomeMain.ratings.subTitle"| translate}}</h2>
    <rating-carousel [params]="mainCarousel"></rating-carousel>
  </section>
</div>
