<div [class]="classPrefix('MainPod')">
  <h1 [class]="classPrefix('MainTitle0')">{{"ProfileOneMain.title" | translate}}</h1>
  <section [class]="classPrefix('Pod0')">
    <sections-two [params]="lastAnalysisSection"></sections-two>
  </section>
  <section [class]="classPrefix('Pod1')">
    <h2 [class]="classPrefix('Pod1Text1')">{{"ProfileOneMain.uploadForm.title" | translate}}</h2>
    <div [class]="classPrefix('Pod1Item0')">
      <p [class]="classPrefix('Pod1Text0')" >{{"ProfileOneMain.uploadForm.notify" | translate}}</p>

    </div>
    <div [class]="classPrefix('Pod1Item1')">
      <file-upload [params]="resumeUpload"></file-upload>
      <div [class]="classPrefix('Pod1Item3')">
        <h2>{{"ProfileOneMain.uploadForm.jobDescField.label" | translate}}</h2>
        <wml-form [params]="wmlForm"></wml-form>
      </div>
    </div>
    <div [class]="classPrefix('Pod1Item2')">
      <button-one [params]="submitBtn"></button-one>
    </div>
  </section>
  <section [class]="classPrefix('Pod2')">
    <div [class]="classPrefix('Pod2Item0')">
      <avatar-one></avatar-one>
      <div [class]="classPrefix('Pod2Item2')">
        <h3>{{"ProfileOneMain.helpUs.title" | translate}}</h3>
        <p>{{"ProfileOneMain.helpUs.desc" | translate}}</p>
      </div>
    </div>
    <div [class]="classPrefix('Pod2Item1')">
      <button-one [params]="mabyeLaterBtn"></button-one>
      <button-one [params]="submitPersonalInfoBtn"></button-one>
    </div>
  </section>
</div>
