<div [class]="classPrefix('MainPod')">
  <h1 [class]="classPrefix('MainTitle0')">{{"SampleMain.title" | translate }}</h1>
  <div [class]="classPrefix('Pod0')">
    <h6 [class]="classPrefix('Pod0Text0')">{{"SampleMain.position.title" | translate}}</h6>
    <div [class]="classPrefix('Pod0Item0')">
      <img [class]="classPrefix('Pod0Img0')" [src]=companyLogo.src [alt]=companyLogo.alt />
      <p>Junior Software Engineer @ NBA</p>
    </div>
  </div>
  <div [class]="classPrefix('Pod1')">
    <sections-two [params]="resultsSection"></sections-two>
  </div>
  <div [class]="classPrefix('Pod2')">
      <sections-two
      [class]="classPrefix('Pod2Item0')"
      [params]="factsSection">
      </sections-two>

      <sections-two
      [class]="classPrefix('Pod2Item0')"
      [params]="newsSection">
      </sections-two>
  </div>
  <div [class]="classPrefix('Pod3')">
    <sections-two [class]="classPrefix('Pod3Item0')" [params]="recruiterQuestionsSection"></sections-two>
  </div>
</div>
