
@import "src/assets/styles/global.scss";
@import "src/assets/styles/_fonts.scss";
@import "src/assets/styles/_spacing.scss";
@import "src/assets/styles/media-queries.scss";
@import "src/assets/styles/_color_pallete.scss";
@import "src/assets/styles/_common.scss";
@import "src/assets/styles/_layouts.scss";

@mixin SectionsOneMainItem0{
  @include WMLFlexColumnCenter;
  padding:$spacing7;
}
:host {


  &.SectionsOneView{
    display: block;
    .SectionsOne{
      &Main{
        &Pod{
          @include MainPodCssRule0;
          padding:0;

        }

        &Item {
          @for $i from 0 through 1 {
            &#{$i} {
              @include SectionsOneMainItem0;
            }
          }
          &0 {
            color:var(--wml-black);
            background-color: var(--wml-white);
          }
          &1 {
            background-color: var(--wml-tertiary);
            color:var(--wml-white);
          }
        }


      }
      &Pod{

        &0{}
      }
    }
  }

}
